Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^login/createsession$   ./src/public/authenticate.php [L,NC,QSA]
RewriteRule ^login/createaccount$   ./src/public/createAccount.php [L,NC,QSA]
RewriteRule ^login/redirect$        ./src/public/redirect.php [L,NC,QSA]


RewriteRule ^login$                 ./src/public/login.php?action=login [L,NC,QSA]
RewriteRule ^register$              ./src/public/register.php?action=login [L,NC,QSA]
RewriteRule ^logout$                ./src/public/login.php?action=logout [L,NC,QSA]


RewriteRule ^members/subscribe$   ./src/api/members/subscribe.php [L]

# BLOG PAGES
RewriteRule ^b/up$                      ./blog/upload_file.php?id=$1 [L,NC,QSA]
RewriteRule ^b/up/processing$           ./blog/upload_processing.php?id=$1 [L,NC,QSA]
RewriteRule ^b/save-paragraph$          ./blog/save-paragraph.php?id=$1 [L,NC,QSA]
RewriteRule ^b/add-media$               ./blog/save-media.php?id=$1 [L,NC,QSA]
RewriteRule ^b/edit-post$               ./blog/edit-post.php?id=$1 [L,NC,QSA]
RewriteRule ^b/create-post$             ./blog/create-post.php?id=$1 [L,NC,QSA]
RewriteRule ^b/media/(.*)$                   ./static/uploads/blog/$1 [L,NC,QSA]

RewriteRule ^b/([0-9]+)$                            ./blog/index.php?id=$1 [L,NC,QSA]
RewriteRule ^blog/([0-9]+)/([a-zA-Z0-9-z\-\_]+)$    ./blog/index.php?id=$1&title=$2 [L,NC,QSA]

# CAMPAIGNS REWRITE
RewriteRule ^c/sobreviva-ao-corona$   ./campaigns/20200325-sobreviva-ao-corona/index.php [L,NC,QSA]

# MEDIA FOR BLOG
RewriteRule ^m/blog/images/([^/]+)$   ./static/images/blog/$1 [L,NC,QSA]
RewriteRule ^m/blog/videos/([^/]+)$   ./static/movie/blog/$1 [L,NC,QSA]


# MEDIA FOR CAMPAIGNS
RewriteRule ^m/sobreviva-ao-corona/([^/]+)$   ./campaigns/20200325-sobreviva-ao-corona/media/$1 [L,NC,QSA]


RewriteRule ^([^/]+)$ index.php [L,NC,QSA]