Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule static/ic/(.*)$       ./static/images-compressed/$1 [L,NC,QSA]
RewriteRule ^media/countdown/([0-9]+)-([0-9]+)-([0-9]+)/([0-9]+):([0-9]+):([0-9]+)$       ./static/images/countdown/index.php?date=$1-$2-$3&hour=$4:$5:$6 [L,NC,QSA]
RewriteRule ^06a943c59f33a34bb5924aaf72cd2995$   ./src/public/search-api.php [L,NC,QSA]

RewriteRule ^login/createsession$   ./src/public/authenticate.php [L,NC,QSA]
RewriteRule ^login/createaccount$   ./src/public/createAccount.php [L,NC,QSA]
RewriteRule ^login/redirect$        ./src/public/redirect.php [L,NC,QSA]


RewriteRule ^login$                 ./src/public/login.php [L,NC,QSA]
RewriteRule ^register$              ./src/public/register.php [L,NC,QSA]
RewriteRule ^register/store$        ./src/public/register-small-campaign-cookie.php [L,NC,QSA]
RewriteRule ^logout$                ./src/public/logout.php [L,NC,QSA]
RewriteRule ^recovery$              ./src/public/recovery.php [L,NC,QSA]
RewriteRule ^recovery/code$         ./src/public/recovery-code.php [L,NC,QSA]
RewriteRule ^recovery/validate$     ./src/public/recovery-validate.php [L,NC,QSA]


RewriteRule ^members/subscribe$   ./src/api/members/subscribe.php [L]

# BLOG PAGES
RewriteRule ^b/up$                      ./blog/upload_file.php?id=$1 [L,NC,QSA]
RewriteRule ^b/up/processing$           ./blog/upload_processing.php?id=$1 [L,NC,QSA]
RewriteRule ^b/save-paragraph$          ./blog/save-paragraph.php?id=$1 [L,NC,QSA]
RewriteRule ^b/add-media$               ./blog/save-media.php?id=$1 [L,NC,QSA]
RewriteRule ^b/publish$                 ./blog/publish-post.php?id=$1 [L,NC,QSA]
RewriteRule ^b/edit-post$               ./blog/edit-post.php?id=$1 [L,NC,QSA]
RewriteRule ^b/create-post$             ./blog/create-post.php?id=$1 [L,NC,QSA]
RewriteRule ^b/media/(.*)$              ./static/uploads/blog/$1 [L,NC,QSA]

RewriteRule ^b/([0-9]+)$                            ./blog/index.php?id=$1 [L,NC,QSA]
RewriteRule ^blog/([0-9]+)/([a-zA-Z0-9-z\-\_]+)$    ./blog/index.php?id=$1&title=$2 [L,NC,QSA]

# MEDIA FOR BLOG
RewriteRule ^m/blog/images/([^/]+)$   ./static/images/blog/$1 [L,NC,QSA]
RewriteRule ^m/blog/videos/([^/]+)$   ./static/movie/blog/$1 [L,NC,QSA]


# CAMPAIGNS REWRITE
RewriteRule ^c/([a-zA-Z0-9-z\-\_]+)/(.*)$              ./campaigns/$1/$2 [L,NC,QSA]

RewriteRule ^termos/politica-de-privacidade$ index.php?p=politica-de-privacidade [L,NC,QSA]
RewriteRule ^termos/termos-de-uso$ index.php?p=politica-de-privacidade [L,NC,QSA]
RewriteRule ^([^/]+)$ index.php?p=$1 [L,NC,QSA]

