<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <defaultDocument>
            <files>
				<clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="image/jpeg" enabled="true" />
        <add mimeType="image/png" enabled="true" />
        <add mimeType="image/svg" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="image/jpeg" enabled="true" />
		<add mimeType="image/svg+xml" enabled="true" />
		<add mimeType="application/font-woff" enabled="true" />
		<add mimeType="application/x-font-ttf" enabled="true" />
		<add mimeType="application/octet-stream" enabled="true" />
		<add mimeType="application/font-woff2" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
	  <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
      </staticContent>
	  <dynamicContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
      </dynamicContent>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="8" />
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="false" dynamicCompressionBeforeCache="false" />
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
		<rewrite>
		  <rules>

		<rule name="rule 1Y" stopProcessing="true">
			<match url="static/ic/(.*)$" ignoreCase="true" />
			<action type="Rewrite" url="/static/images-compressed/{R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 2Y" stopProcessing="true">
			<match url="^media/countdown/([0-9]+)-([0-9]+)-([0-9]+)/([0-9]+):([0-9]+):([0-9]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/static/images/countdown/index.php?date={R:1}-{R:2}-{R:3}&amp;hour={R:4}:{R:5}:{R:6}" appendQueryString="true" />
		</rule>
		<rule name="rule 3Y" stopProcessing="true">
			<match url="^06a943c59f33a34bb5924aaf72cd2995$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/search-api.php" appendQueryString="true" />
		</rule>
		<rule name="rule 4Y" stopProcessing="true">
			<match url="^login/createsession$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/authenticate.php" appendQueryString="true" />
		</rule>
		<rule name="rule 5Y" stopProcessing="true">
			<match url="^login/createaccount$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/createAccount.php" appendQueryString="true" />
		</rule>
		<rule name="rule 6Y" stopProcessing="true">
			<match url="^login/redirect$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/redirect.php" appendQueryString="true" />
		</rule>
		<rule name="rule 7Y" stopProcessing="true">
			<match url="^login$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/login.php?action=login" appendQueryString="true" />
		</rule>
		<rule name="rule 8Y" stopProcessing="true">
			<match url="^register$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/register.php?action=login" appendQueryString="true" />
		</rule>
		<rule name="rule 9Y" stopProcessing="true">
			<match url="^register/store$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/register-small-campaign-cookie.php?action=login" appendQueryString="true" />
		</rule>
		<rule name="rule 10Y" stopProcessing="true">
			<match url="^logout$" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/login.php?action=logout" appendQueryString="true" />
		</rule>
		<rule name="rule 28Y" stopProcessing="true">
			<match url="^recovery" ignoreCase="true" />
			<action type="Rewrite" url="/src/public/recovery.php?action=logout" appendQueryString="true" />
		</rule>
		<rule name="rule 11Y" stopProcessing="true">
			<match url="^members/subscribe$" />
			<action type="Rewrite" url="/src/api/members/subscribe.php" />
		</rule>
		<rule name="rule 12Y" stopProcessing="true">
			<match url="^b/up$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/upload_file.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 13Y" stopProcessing="true">
			<match url="^b/up/processing$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/upload_processing.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 14Y" stopProcessing="true">
			<match url="^b/save-paragraph$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/save-paragraph.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 15Y" stopProcessing="true">
			<match url="^b/add-media$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/save-media.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 16Y" stopProcessing="true">
			<match url="^b/publish$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/publish-post.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 17Y" stopProcessing="true">
			<match url="^b/edit-post$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/edit-post.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 18Y" stopProcessing="true">
			<match url="^b/create-post$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/create-post.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 19Y" stopProcessing="true">
			<match url="^b/media/(.*)$" ignoreCase="true" />
			<action type="Rewrite" url="/static/uploads/blog/{R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 20Y" stopProcessing="true">
			<match url="^b/([0-9]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/index.php?id={R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 21Y" stopProcessing="true">
			<match url="^blog/([0-9]+)/([a-zA-Z0-9-z\-\_]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/blog/index.php?id={R:1}&amp;title={R:2}" appendQueryString="true" />
		</rule>
		<rule name="rule 22Y" stopProcessing="true">
			<match url="^m/blog/images/([^/]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/static/images/blog/{R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 23Y" stopProcessing="true">
			<match url="^m/blog/videos/([^/]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/static/movie/blog/{R:1}" appendQueryString="true" />
		</rule>
		<rule name="rule 24Y" stopProcessing="true">
			<match url="^c/([a-zA-Z0-9-z\-\_]+)/(.*)$" ignoreCase="true" />
			<action type="Rewrite" url="/campaigns/{R:1}/{R:2}" appendQueryString="true" />
		</rule>
		<rule name="rule 25Y" stopProcessing="true">
			<match url="^termos/politica-de-privacidade$" ignoreCase="true" />
			<action type="Rewrite" url="/index.php?p=politica-de-privacidade" appendQueryString="true" />
		</rule>
		<rule name="rule 26Y" stopProcessing="true">
			<match url="^termos/termos-de-uso$" ignoreCase="true" />
			<action type="Rewrite" url="/index.php?p=politica-de-privacidade" appendQueryString="true" />
		</rule>
		<rule name="rule 27Y" stopProcessing="true">
			<match url="^([^/]+)$" ignoreCase="true" />
			<action type="Rewrite" url="/index.php?p={R:1}" appendQueryString="true" />
		</rule>



		  </rules>
		</rewrite>
  </system.webServer>
</configuration>