* {
  font-family: 'Gilroy', sans-serif;
}
body {
  font-size: 17px;
}
.main-wrap {
  background: #131313;
  padding: 10px 0;
  position: relative;
}
.main-wrap.featured {
  min-height: 70vh;
}
.main-wrap .ls-branding {
  width: 38px;
  height: 38px;
  background: url('../images/ls-white-background-black-icon.png') center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 10px 0;
}
.main-wrap .navigation {
  display: block;
  position: relative;
  margin: 10px 0;
}
.main-wrap .navigation ul {
  display: block;
  list-style: none;
}
.main-wrap .navigation ul li {
  display: inline-block;
  color: #f3f3f3;
  margin: 0 10px;
}
.main-wrap .navigation ul li:first-child {
  margin-left: -10px;
}
.main-wrap .navigation ul li a {
  color: inherit;
  text-decoration: none;
  font-size: .85em;
  font-weight: 600;
  line-height: 38px;
}
.main-wrap .header-btn {
  text-align: right;
  margin: 7px 0;
}
.main-wrap .presentation {
  padding: 60px 0;
  position: relative;
}
.main-wrap .presentation .vertical-middle {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.main-wrap .presentation .hd-cover img {
  width: 100%;
}
.main-wrap .presentation sup {
  display: block;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 15px 4px;
}
.main-wrap .presentation .btn {
  margin-top: 20px;
}
.btn {
  background: none;
  border: 1px #FFFFFF solid;
  color: #FFFFFF;
  line-height: 32px;
  padding: 5px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  font-size: .9em;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  min-width: 200px;
  transition: all .7s;
}
.btn.btn--secondary {
  color: #000000;
  border: 1px #000000 solid;
  font-weight: 700;
}
.btn.btn--secondary:hover {
  background: #000000;
  color: #FFFFFF;
}
.btn:hover {
  background: #FFFFFF;
  color: #090C16;
}
.btn.btn--transparent {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  min-width: 1px;
}
h1 {
  color: #fff;
  font-size: 52px;
  line-height: 52px;
  font-weight: 800;
}
h2 {
  color: #fff;
  font-size: 38px;
  line-height: 52px;
  font-weight: 800;
}
h4 {
  color: #fff;
  font-size: 48px;
  line-height: 62px;
  font-weight: 800;
}
h3 {
  color: #ffffff;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
}
h3:before {
  letter-spacing: -8px;
  font-weight: 900;
  color: rgba(0,0,0,0.15);
  margin-right: 15px;
  font-size: .75em;
  margin-left: -30px;
}
p {
  line-height: 27px;
}
.topmargin {
  margin-top: 20px;
}
.text.white {
  color: #FFFFFF;
}
.text.black {
  color: #000000;
}
.text.pink {
  color: #ed145b;
}
.text.right {
  text-align: right;
}
.only-mobile {
  display: none;
}
.only-desktop {
  display: initial;
}
.margin--bottom {
  margin-bottom: 50px;
}
@media only screen and (max-width: 960px) {
  .only-mobile {
    display: initial;
  }
  .only-desktop {
    display: none;
  }
  .main-wrap .presentation {
    padding: 0;
  }
  .main-wrap .presentation .vertical-middle {
    position: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
  .btn {
    width: 100%;
    box-sizing: border-box;
  }
  h2 {
    color: #fff;
    font-size: 29px;
    line-height: 36px;
    font-weight: 800;
  }
  .hd-cover {
    margin: 20px 0;
  }
}
.stamp {
  line-height: 11px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  background: #FF0B66;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-shadow: 0 0 0 rgba(0,0,0,0.5);
  padding: 5px 6px;
  position: relative;
  top: -10px;
}
.blog-release {
  background: #131313;
  padding: 22px 0;
}
.blog-release .blog-post--widget {
  height: 450px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 30px 0;
}
.blog-release .blog-post--widget:hover {
  cursor: all-scroll;
}
.blog-release .blog-post--widget:hover .post-info {
  background-position: 550px;
  transition: all .4s;
}
.blog-release .blog-post--widget:hover .post-info .content .readmore {
  height: 35px;
  visibility: visible;
  padding: 10px 0;
}
.blog-release .blog-post--widget:hover .background img {
  width: auto;
  height: 480px;
}
.blog-release .blog-post--widget .post-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
  background: linear-gradient(360deg,#000000 0%,rgba(0,0,0,0.5) 100%);
  background-size: 100% 500px;
  -webkit-transition: background .61s ease-out;
  -moz-transition: background .61s ease-out;
  -o-transition: background .61s ease-out;
  transition: background .61s ease-out;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.blog-release .blog-post--widget .post-info .content {
  position: absolute;
  bottom: 10px;
  font-size: 1.3em;
  color: #FFFFFF;
  padding: 20px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-release .blog-post--widget .post-info .content h5 {
  font-weight: 600;
  font-size: .85em;
}
.blog-release .blog-post--widget .post-info .content .readmore {
  display: block;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  transition: all .3s;
  color: #FFFFFF;
  font-size: .75em;
  text-decoration: none;
}
.blog-release .blog-post--widget .post-info .content .stamp {
  display: inline-block;
  font-size: .5em;
  font-weight: 600;
  background: #fa6400;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-shadow: 0 0 0 rgba(0,0,0,0.5);
  padding: 5px 10px;
  margin-bottom: 10px;
}
.blog-release .blog-post--widget .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.blog-release .blog-post--widget .background img {
  width: auto;
  transition: all .4s;
  height: 450px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.about-me {
  padding: 10px 0;
  background: #131313;
  background: linear-gradient(180deg,#131313 0%,#000000 26%);
}
.about-me .superior-space {
  padding-top: 120px;
}
.me.frontal--photo {
  background: url("../images/leonardo-scapinello.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.cases {
  background: #000000;
  padding: 80px 0;
}
.cases .cases-carousel {
  padding: 30px 0;
  box-sizing: content-box;
}
.cases .cases-carousel .customer-widget {
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.093);
  text-align: center;
  border-radius: 5px;
  padding: 30px 0;
}
.cases .cases-carousel .customer-widget .customer-logo {
  width: 140px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
.cases .cases-carousel .customer-widget .customer-logo img {
  margin: 0 auto;
}
.cases .cases-carousel .customer-widget .customer-name p {
  font-size: .751em;
  font-weight: 600;
  color: rgba(78,82,93,0.5);
  display: block;
  text-transform: uppercase;
}
.shadow5 {
  position: relative;
}
.shadow5:before,
.shadow5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.owl-stage {
  overflow: visible;
  box-sizing: border-box;
}
.blog-release-notifications {
  font-size: 23px;
  color: #FFFFFF;
}
.blog-release-notifications i {
  line-height: 52px;
}
.blog-release-notifications .btn:hover,
.blog-release-notifications .btn:focus {
  color: #00E1CA;
}
.blog-release-notifications .btn:hover i,
.blog-release-notifications .btn:focus i {
  font-weight: 700;
}
.white-box {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
.newsletter {
  background: #131313;
  padding: 60px 0;
}
.newsletter h3 {
  margin-top: 70px;
}
.plyr--full-ui input[type=range] {
  color: #FF0B66 !important;
}
.plyr__control--overlaid {
  background: #000100 !important;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #FF0B66 !important;
}
.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px #000100 !important;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #FF0B66 !important;
}
.half-player .plyr {
  width: 100%;
  height: 362px;
  border-radius: 5px;
}
.footer {
  background: #131313;
  background: linear-gradient(0deg,#131313 0%,#000000 95%);
  padding: 80px 0 25px 0;
  font-size: .75em;
  color: rgba(255,255,255,0.4);
  line-height: 37px;
}
.footer .footer-icon {
  max-width: 37px;
  float: right;
  opacity: .54;
  transition: all .4s;
}
.footer .footer-icon:hover {
  opacity: 1;
}
.footer .footer-icon img {
  max-width: 100%;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 0 15px;
}
.footer ul li a {
  color: rgba(255,255,255,0.4);
  transition: all .4s;
}
.footer ul li a:hover {
  color: #FFFFFF;
}
.blog-post {
  background: #131313;
}
.blog-post.wrapper-blog {
  background: #000000;
}
.blog-post .header-blog {
  max-height: 60vh;
  position: relative;
  overflow: hidden;
}
.blog-post .header-blog.noimage {
  max-height: 20vh;
}
.blog-post .header-blog .background {
  width: 100%;
  height: 100%;
}
.blog-post .header-blog .background:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(0,0,0,0.5);
  background: linear-gradient(180deg,#131313 0%,rgba(0,0,0,0) 100%);
}
.blog-post .header-blog .background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.blog-post .header-blog .background .overlay-text {
  background: #000000;
  background: linear-gradient(0deg,#000000 0%,rgba(0,0,0,0) 88%);
  width: 100%;
  min-height: 200px;
  z-index: 7;
  position: absolute;
  bottom: 0;
}
.blog-post .header-blog .background .overlay-text .post-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 100px;
}
.blog-post .header-blog .background .overlay-text .post-title .post-data ul {
  display: block;
  margin: 20px 0;
}
.blog-post .header-blog .background .overlay-text .post-title .post-data ul li {
  color: rgba(255,255,255,0.7);
  display: inline-block;
  font-size: .8em;
  margin-right: 20px;
}
.blog-post .header-blog .background .overlay-text .post-title .post-data ul li i {
  margin-right: 5px;
}
.blog-post .header-blog .background .overlay-text .post-title h2 {
  font-size: 2.8em;
  line-height: 72px;
}
.blog-post .post-content {
  background: #000;
  padding: 40px 0;
}
.blog-post .post-content b,
.blog-post .post-content strong {
  font-weight: 500;
}
.blog-post .post-content a {
  color: #5ec1e4;
  text-decoration: none;
  font-weight: 400;
}
.blog-post .post-content a:hover {
  text-decoration: underline;
}
.blog-post .post-content .content-blog {
  border-radius: 6px;
  background: #ffffff;
  min-height: 300px;
  padding: 60px 0;
}
.blog-post .post-content .content-blog .content-paragraph {
  padding: 0 40px;
  line-height: 30px;
  font-family: 'Roboto Slab', serif;
  margin: 20px 0;
}
.blog-post .post-content .content-blog .content-paragraph .text-center {
  text-align: center;
}
.blog-post .post-content .content-blog .content-paragraph .text-left {
  text-align: left;
}
.blog-post .post-content .content-blog .content-paragraph .text-right {
  text-align: right;
}
.blog-post .post-content .content-blog .content-paragraph.edit-enabled {
  border: 1px #ed145b dashed;
  background: rgba(237,21,91,0.05);
  margin: 0 2px;
}
.blog-post .post-content .content-blog .content-paragraph p,
.blog-post .post-content .content-blog .content-paragraph b,
.blog-post .post-content .content-blog .content-paragraph i {
  font-family: 'Roboto Slab', serif;
}
.blog-post .post-content .content-blog .content-paragraph b {
  font-weight: bold;
}
.blog-post .post-content .content-blog .content-paragraph i {
  font-style: italic;
}
.blog-post .post-content .content-blog .content-paragraph h1 {
  font-size: 34px;
  color: #000;
  line-height: 50px;
  margin: 20px 0;
}
.blog-post .post-content .content-blog .content-paragraph h1:first-child {
  margin-top: 0;
}
.blog-post .post-content .content-blog .content-paragraph h2 {
  font-size: 26px;
  line-height: 40px;
  color: #000;
  margin: 20px 0;
}
.blog-post .post-content .content-blog .content-paragraph h2:first-child {
  margin-top: 0;
}
.blog-post .post-content .content-blog .content-paragraph:first-child {
  margin-top: 0;
}
.blog-post .post-content .content-blog table {
  width: 100%;
  border-collapse: collapse;
  border: 1px #ccc solid;
}
.blog-post .post-content .content-blog table th {
  background: #090C16;
  color: #FFFFFF;
  padding: 5px 0;
}
.blog-post .post-content .content-blog table tr {
  padding: 5px 0;
}
.blog-post .post-content .content-blog ul {
  margin: 20px 0;
  padding: 0 80px;
  list-style: initial;
}
.blog-post .post-content .content-blog figure {
  background: #fafafa;
  text-align: center;
  padding: 50px 0;
  margin: 40px 0;
}
.blog-post .post-content .content-blog figure img {
  max-width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
  box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
}
.blog_input {
  width: 100%;
  margin: 30px 0;
}
.blog_input input[type="text"] {
  width: 100%;
  display: block;
  font-size: 2em;
  color: #000;
  font-weight: 600;
}
.ct-custom-save {
  background: #FFFFFF;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 53px;
  transform: translate(0,-50%);
  z-index: 9995;
  -webkit-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ct-custom-save ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
}
.ct-custom-save ul li {
  display: block;
  padding: 15px 13px;
  cursor: pointer;
}
.ct-custom-save ul li:first-child {
  background: #42EBD5;
}
.ct-custom-save ul li:first-child a {
  color: #000000;
}
.ct-custom-save ul li:last-child {
  background: #ed145b;
}
.ct-custom-save ul li:last-child a {
  color: #FFFFFF;
}
.ct-custom-save ul li a {
  font-size: 1.5em;
}
.add_text_widget {
  background: #FFFFFF;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  z-index: 9999;
  -webkit-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add_text_widget ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
}
.add_text_widget ul li {
  display: block;
  margin: 30px 13px;
  color: #000;
  text-align: center;
}
.add_text_widget ul li.disabled {
  opacity: .2;
  position: relative;
}
.add_text_widget ul li.disabled:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99999;
  padding: 10px;
}
.add_text_widget ul li:hover a {
  color: #ed145b !important;
}
.add_text_widget ul li.disabled:hover a {
  color: #000 !important;
}
.add_text_widget ul li a {
  color: #000 !important;
  font-size: 1.5em;
}
.add_text_widget ul li:first-child {
  margin-left: 0;
}
.ct-ignition {
  display: none;
}
.ct-tool-group .ct-tool.ct-tool--image,
.ct-tool-group .ct-tool.ct-tool--video,
.ct-tool-group .ct-tool.ct-tool--remove,
.ct-tool-group .ct-tool.ct-tool--preformatted {
  display: none !important;
}
.ct-widget.ct-inspector.ct-widget--active {
  display: none !important;
}
