* {
  font-family: 'Gilroy', sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background: #131313;
  font-size: 17px;
}
section {
  position: relative;
  margin-top: -1px;
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  color: #fff;
  font-size: 52px;
  line-height: 52px;
  font-weight: 800;
}
h2 {
  color: #fff;
  font-size: 38px;
  line-height: 52px;
  font-weight: 800;
}
h4 {
  font-weight: 500;
  font-size: 21px;
  color: #000;
  line-height: 50px;
  margin: 20px 0;
}
h3 {
  color: #ffffff;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
}
h3:before {
  letter-spacing: -8px;
  font-weight: 900;
  color: rgba(0,0,0,0.15);
  margin-right: 15px;
  font-size: .75em;
  margin-left: -30px;
}
p {
  line-height: 27px;
  text-align: justify;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  h2 {
    font-size: 27px;
    line-height: 35px;
  }
  h3 {
    font-size: 23px;
    line-height: 33px;
  }
  h4 {
    font-size: 16px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1460px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  h4 {
    font-size: 17px;
    line-height: 27px;
  }
  p {
    font-size: 15px;
    line-height: 21px;
  }
}
@media only screen and (min-width: 1460px) {
  h2 {
    font-size: 42px;
    line-height: 50px;
  }
  h3 {
    font-size: 29px;
    line-height: 39px;
  }
  h4 {
    font-size: 18px;
    line-height: 28px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
}
.header--company {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 910;
  background: rgba(0,0,0,0.8);
  -webkit-backdrop-filter: #000000 blur(20px);
  backdrop-filter: #000000 blur(20px);
}
.header--company .navigation-mobile-btn {
  color: #fffddd;
  position: relative;
  text-align: right;
  cursor: pointer;
}
.header--company .navigation-mobile-btn i {
  float: right;
  font-size: 20px;
  line-height: 64px;
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .header--company .ls-branding {
    padding: 0;
    margin: 0 !important;
    width: 26px !important;
    height: 26px !important;
  }
  .header--company .third-part {
    width: 33%;
  }
  .header--company .navigation-mobile-btn {
    color: #fffddd;
    position: relative;
    text-align: right;
    line-height: initial;
  }
  .header--company .navigation-mobile-btn i {
    float: right;
    font-size: 20px;
    margin-top: -11px;
    line-height: 20px;
  }
}
.hd-cover {
  margin: 80px 0 0 0;
}
.main-wrap {
  padding: 3px 0;
  position: relative;
}
.main-wrap.featured {
  min-height: 70vh;
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .main-wrap.featured {
    margin-top: 30px;
  }
}
.main-wrap .ls-branding {
  width: 38px;
  height: 38px;
  background: url('../images/ls-white-background-black-icon.png') center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: 13px;
}
.main-wrap .navigation {
  display: block;
  position: relative;
}
.main-wrap .navigation ul {
  display: block;
  list-style: none;
  margin: 13px 0;
}
.main-wrap .navigation ul li {
  display: inline-block;
  color: #f3f3f3;
  margin: 0 10px;
}
.main-wrap .navigation ul li.only-mobile {
  display: none !important;
}
.main-wrap .navigation ul li.account {
  background: #42EBD5;
  color: #000;
}
.main-wrap .navigation ul li:first-child {
  margin-left: -40px;
}
.main-wrap .navigation ul li a {
  color: inherit;
  text-decoration: none;
  font-size: .85em;
  font-weight: 600;
  line-height: 38px;
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .main-wrap .navigation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 999;
    margin: 0;
    padding: 0;
  }
  .main-wrap .navigation ul {
    width: 100%;
    display: block;
    padding: 30px 0;
  }
  .main-wrap .navigation ul li {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  .main-wrap .navigation ul li.only-mobile {
    display: block !important;
  }
  .main-wrap .navigation ul li a {
    width: 100%;
    display: block;
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px rgba(255,255,255,0.06) solid;
  }
  .main-wrap .navigation ul li:first-child {
    margin-left: 0px;
  }
}
.main-wrap .header-btn {
  text-align: right;
  margin-top: 15px;
}
.main-wrap .presentation {
  position: relative;
}
.main-wrap .presentation .vertical-middle {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.main-wrap .presentation .hd-cover img {
  width: 100%;
}
.main-wrap .presentation sup {
  display: block;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 15px 4px;
}
.main-wrap .presentation .btn {
  margin-top: 20px;
}
.btn {
  background: none;
  border: 1px #FFFFFF solid;
  color: #FFFFFF;
  line-height: 27px;
  padding: 5px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  font-size: .9em;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  min-width: 140px;
  transition: all .7s;
}
.btn.btn--green {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 60px;
  background-color: #06d6a0;
  display: block;
  margin: 30px 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .2s;
  text-decoration: none;
  color: #090508;
}
.btn.btn--green:hover {
  background-color: #06ecb5;
}
.btn.btn--secondary {
  color: #000000;
  border: 1px #000000 solid;
  font-weight: 700;
}
.btn.btn--secondary:hover {
  background: #000000;
  color: #FFFFFF;
}
.btn:hover {
  background: #FFFFFF;
  color: #090C16;
}
.btn.btn--transparent {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  min-width: 1px;
}
.topmargin {
  margin-top: 20px;
}
.text.white {
  color: #FFFFFF;
}
.text.black {
  color: #000000;
}
.text.pink {
  color: #ed145b;
}
.text.green {
  color: #42EBD5;
}
.text.right {
  text-align: right;
}
.only-mobile {
  display: none;
}
.only-desktop {
  display: initial;
}
.margin--bottom {
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .only-mobile {
    display: initial;
  }
  .only-desktop {
    display: none !important;
  }
  .main-wrap .presentation {
    padding: 0;
  }
  .main-wrap .presentation .vertical-middle {
    position: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
  .btn {
    width: 100%;
    box-sizing: border-box;
  }
  .hd-cover {
    margin: 20px 0;
  }
}
.stamp {
  line-height: 11px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  background: #FF0B66;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-shadow: 0 0 0 rgba(0,0,0,0.5);
  padding: 5px 6px;
  position: relative;
  top: -10px;
  text-transform: uppercase !important;
}
.blog-release {
  background: #131313;
  padding: 22px 0;
}
.blog-post--widget {
  background: #4d4d4d;
  height: 450px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 30px 0;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .blog-post--widget {
    height: 280px;
  }
}
.blog-post--widget.locked .background:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/lock-background.png);
  -webkit-background-size: 100% auto;
  background-position: center center;
  background-size: 100% auto;
  z-index: 99;
  transition: all .7s;
}
.blog-post--widget:hover {
  cursor: all-scroll;
}
.blog-post--widget:hover.locked .background:after {
  -webkit-background-size: 105% auto;
  background-size: 108% auto;
}
.blog-post--widget:hover .post-info {
  background-position: 550px;
  transition: all .4s;
}
.blog-post--widget:hover .post-info .content .readmore {
  height: 35px;
  visibility: visible;
  padding: 10px 0;
}
.blog-post--widget:hover .background img {
  width: auto !important;
  height: 550px;
}
.blog-post--widget .post-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
  background: linear-gradient(360deg,#000000 0%,rgba(0,0,0,0.3) 100%);
  background-size: 100% 500px;
  -webkit-transition: background .61s ease-out;
  -moz-transition: background .61s ease-out;
  -o-transition: background .61s ease-out;
  transition: background .61s ease-out;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.blog-post--widget .post-info .content {
  position: absolute;
  bottom: 10px;
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 20px;
  padding-right: 40px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .blog-post--widget .post-info .content {
    font-size: 1.1em;
    line-height: 18px;
    word-break: break-word;
  }
}
.blog-post--widget .post-info .content h5 {
  margin: 10px 0;
  font-weight: 600;
  font-size: .85em;
}
.blog-post--widget .post-info .content .readmore {
  display: block;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  transition: all .3s;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}
.blog-post--widget .post-info .content .stamp {
  display: inline-block;
  font-size: .5em;
  font-weight: 600;
  background: #fa6400;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-shadow: 0 0 0 rgba(0,0,0,0.5);
  padding: 5px 10px;
  position: relative;
  top: 0;
}
.blog-post--widget .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.blog-post--widget .background img {
  width: auto !important;
  height: 450px;
  transition: all .4s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.about-me,
.todark_sec {
  padding: 10px 0;
  background: #131313;
  background: linear-gradient(180deg,#131313 0%,#000000 26%);
}
.sec {
  padding: 30px 0;
}
.sec.black {
  background: #000000;
}
 .superior-space {
  padding-top: 120px;
}
.superior-space.half {
  padding-top: 25px;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
   .superior-space {
    padding-top: 0;
  }
}
.container-gradient {
  padding: 120px 0 50px 0;
  background: #131313;
  background: linear-gradient(180deg,#131313 0%,#000000 36%);
}
.me.frontal--photo {
  background: url("../images/leonardo-scapinello.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.me.frontal--photo--flip {
  background: url("../images/leonardo-scapinello-flip.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .me.frontal--photo,
  .me.frontal--photo--flip {
    background-position: top;
    height: 480px;
  }
}
.cases {
  background: #000000;
  padding: 80px 0;
  box-sizing: border-box;
}
.cases .cases-carousel {
  padding: 30px 0;
  box-sizing: border-box;
}
.cases .cases-carousel .customer-widget {
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.093);
  text-align: center;
  border-radius: 5px;
  padding: 30px 0;
  box-sizing: border-box;
}
.cases .cases-carousel .customer-widget .customer-logo {
  width: 140px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
.cases .cases-carousel .customer-widget .customer-logo img {
  margin: 0 auto;
}
.cases .cases-carousel .customer-widget .customer-name p {
  font-size: .751em;
  font-weight: 600;
  color: rgba(78,82,93,0.5);
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}
.shadow5 {
  position: relative;
}
.shadow5:before,
.shadow5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.owl-stage {
  overflow: visible;
  box-sizing: border-box;
}
.blog-release-notifications {
  font-size: 23px;
  color: #FFFFFF;
  float: left;
  margin-right: 15px;
  margin-top: -6px;
}
.blog-release-notifications i {
  line-height: 52px;
}
.blog-release-notifications .btn:hover,
.blog-release-notifications .btn:focus {
  color: #00E1CA;
}
.blog-release-notifications .btn:hover i,
.blog-release-notifications .btn:focus i {
  font-weight: 700;
}
.white-box {
  width: 100%;
  margin-bottom: 35px;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
.white-box .input_line {
  display: block;
  margin: 30px 0;
  position: relative;
}
.white-box .input_line label {
  display: block;
  text-align: left;
  margin-top: 10px;
  transition: all .4s;
  font-weight: 800;
  text-transform: uppercase;
  font-size: .8em;
  top: 0px;
}
.white-box .input_line input[type="phone"],
.white-box .input_line input[type="email"],
.white-box .input_line input[type="text"] {
  display: block;
  border: none;
  border-bottom: 2px #2d2d2d solid;
  width: 100%;
  line-height: 40px;
  transition: all .4s;
}
.white-box .input_line input:focus {
  border-color: #ed145b;
  line-height: 40px;
}
.white-box .input_line input:focus + label {
  color: #ed145b;
  top: -30px;
}
.white-box .input_line input + label {
  top: -30px;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .white-box {
    padding: 10px 20px;
  }
}
.newsletter {
  background: #131313;
  padding: 60px 0;
}
.newsletter h3 {
  margin-top: 70px;
}
.plyr--full-ui input[type=range] {
  color: #FF0B66 !important;
}
.plyr__control--overlaid {
  background: #000100 !important;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #FF0B66 !important;
}
.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px #000100 !important;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #FF0B66 !important;
}
.footer {
  background: #131313;
  background: linear-gradient(0deg,#131313 0%,#000000 95%);
  padding: 80px 0 25px 0;
  font-size: .75em;
  color: rgba(255,255,255,0.4);
  line-height: 37px;
}
.footer .footer-icon {
  max-width: 37px;
  float: right;
  opacity: .54;
  transition: all .4s;
}
.footer .footer-icon:hover {
  opacity: 1;
}
.footer .footer-icon img {
  max-width: 100%;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 0 15px;
}
.footer ul li a {
  color: rgba(255,255,255,0.4);
  transition: all .4s;
}
.footer ul li a:hover {
  color: #FFFFFF;
}
.blog-post {
  background: #131313;
}
.blog-post.wrapper-blog {
  background: #000000;
}
.blog-post .header-blog {
  background: #000000;
}
.blog-post .header-blog .overlay-text .post-data ul {
  display: block;
  padding: 10px 0 0 0;
}
.blog-post .header-blog .overlay-text .post-data ul li {
  color: rgba(255,255,255,0.7);
  display: inline-block;
  font-size: .7em;
  margin-right: 20px;
}
.blog-post .header-blog .overlay-text .post-data ul li i {
  margin-right: 5px;
}
.blog-post .header-blog .overlay-text .post-data .stamp {
  font-size: 13px;
  padding: 5px 15px;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .blog-post .header-blog .overlay-text .post-data ul {
    display: block;
  }
  .blog-post .header-blog .overlay-text .post-data ul li {
    margin: 10px 0;
    display: block;
  }
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .blog-post .header-blog.image .background {
    height: 40vh !important;
    min-height: 200px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1360px) {
  .blog-post .header-blog.image .background {
    height: 32vh;
    min-height: 300px;
  }
}
.blog-post .header-blog.image .background {
  width: 100%;
  height: 40vh;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.blog-post .header-blog.image .background:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(0,0,0,0.5);
  background: linear-gradient(180deg,#000000 0%,rgba(0,0,0,0) 100%);
}
.blog-post .header-blog.image .background img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.blog-post .header-blog.image .background .overlay-text {
  background: #000000;
  background: linear-gradient(0deg,#000000 0%,rgba(0,0,0,0) 88%);
  width: 100%;
  min-height: 130px;
  z-index: 7;
  position: absolute;
  bottom: 0;
}
.blog-post .header-blog.image .background .overlay-text .post-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.blog-post .header-blog.image .background .overlay-text .post-title h2 {
  margin: 10px 0;
}
.blog-post .header-blog.no-image {
  padding: 105px 0 15px 0;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .blog-post .header-blog.no-image {
    padding: 3px 0 15px 0;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1360px) {
  .blog-post .header-blog.no-image {
    padding: 45px 0 15px 0;
  }
}
.blog-post .header-blog.no-image .background {
  padding: 30px 0 12px 0;
  height: auto;
}
.blog-post .post-content {
  background: #000;
}
@media only screen and (max-width: 1600px) {
  .blog-post .post-content .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
.blog-post .post-content b,
.blog-post .post-content strong {
  font-weight: 500;
}
.blog-post .post-content a {
  color: #5ec1e4;
  text-decoration: none;
  font-weight: 400;
}
.blog-post .post-content a:hover {
  text-decoration: underline;
}
.blog-post .post-content .content-blog {
  border-radius: 6px;
  background: #ffffff;
  padding: 60px 0;
  font-size: 14px;
  word-break: break-word;
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  .blog-post .post-content .content-blog {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  .blog-post .post-content .content-blog .blog--post-block {
    padding: 0 20px !important;
  }
}
.blog-post .post-content .content-blog .blog--post-block {
  padding: 0 40px;
  line-height: 30px;
  font-family: 'Roboto Slab', serif;
  margin: 20px 0;
}
.blog-post .post-content .content-blog .blog--post-block .text-center {
  text-align: center;
}
.blog-post .post-content .content-blog .blog--post-block .text-left {
  text-align: left;
}
.blog-post .post-content .content-blog .blog--post-block .text-right {
  text-align: right;
}
.blog-post .post-content .content-blog .blog--post-block.edit-enabled {
  border: 1px #ed145b dashed;
  background: rgba(237,21,91,0.05);
  margin: 0 2px;
}
.blog-post .post-content .content-blog .blog--post-block p,
.blog-post .post-content .content-blog .blog--post-block h1,
.blog-post .post-content .content-blog .blog--post-block h2,
.blog-post .post-content .content-blog .blog--post-block h3,
.blog-post .post-content .content-blog .blog--post-block h4,
.blog-post .post-content .content-blog .blog--post-block h5,
.blog-post .post-content .content-blog .blog--post-block h6,
.blog-post .post-content .content-blog .blog--post-block b,
.blog-post .post-content .content-blog .blog--post-block ul li,
.blog-post .post-content .content-blog .blog--post-block a,
.blog-post .post-content .content-blog .blog--post-block table tr th,
.blog-post .post-content .content-blog .blog--post-block table tr td,
.blog-post .post-content .content-blog .blog--post-block i {
  font-family: 'Roboto Slab', serif !important;
  color: #000;
}
.blog-post .post-content .content-blog .blog--post-block b {
  font-weight: 900 !important;
}
.blog-post .post-content .content-blog .blog--post-block i {
  font-style: italic !important;
}
.blog-post .post-content .content-blog .blog--post-block:first-child {
  margin-top: 0;
}
.blog-post .post-content .content-blog table {
  width: 100%;
  border-collapse: collapse;
  border: 1px #ccc solid;
}
.blog-post .post-content .content-blog table th {
  background: #090C16;
  color: #FFFFFF;
  padding: 5px 0;
}
.blog-post .post-content .content-blog table tr {
  padding: 5px 0;
}
.blog-post .post-content .content-blog ul {
  margin: 20px 0;
  padding: 0 80px;
  list-style: initial;
}
.blog-post .post-content .content-blog ol {
  margin: 20px 0;
  padding: 0 80px;
  list-style: decimal;
}
.blog-post .post-content .content-blog ol li {
  list-style: inherit;
}
.blog-post .post-content .content-blog .blog--post-video {
  background: #f1f2f4;
  text-align: center;
  box-sizing: border-box;
  margin: 40px 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  .blog-post .post-content .content-blog .blog--post-video {
    margin: 10px 0;
  }
}
.blog-post .post-content .content-blog .blog--post-video .ls-player-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%,-50%);
}
.blog-post .post-content .content-blog figure {
  background: #fafafa;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 10px;
  margin: 40px 0;
}
.blog-post .post-content .content-blog figure img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
  box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.15);
}
.blog_input {
  width: 100%;
  margin: 10px 0;
}
.blog_input input[type="text"],
.blog_input select {
  width: 100%;
  display: block;
  font-size: 1em;
  color: #000;
  font-weight: 600;
}
.ct-custom-save {
  background: #FFFFFF;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translate(0,-50%);
  z-index: 9995;
  -webkit-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ct-custom-save ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
}
.ct-custom-save ul li {
  display: block;
  padding: 15px 13px;
  cursor: pointer;
}
.ct-custom-save ul li:first-child {
  background: #42EBD5;
}
.ct-custom-save ul li:first-child a {
  color: #000000;
}
.ct-custom-save ul li:last-child {
  background: #ed145b;
}
.ct-custom-save ul li:last-child a {
  color: #FFFFFF;
}
.ct-custom-save ul li a {
  font-size: 1.5em;
}
.add_text_widget {
  background: #FFFFFF;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  z-index: 9999;
  -webkit-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  box-shadow: 0px -2px 5px 4px rgba(0,0,0,0.16);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add_text_widget ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
}
.add_text_widget ul li {
  display: block;
  margin: 30px 13px;
  color: #000;
  text-align: center;
}
.add_text_widget ul li.disabled {
  opacity: .2;
  position: relative;
}
.add_text_widget ul li.disabled:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99999;
  padding: 10px;
}
.add_text_widget ul li:hover a {
  color: #ed145b !important;
}
.add_text_widget ul li.disabled:hover a {
  color: #000 !important;
}
.add_text_widget ul li a {
  color: #000 !important;
  font-size: 1.5em;
}
.add_text_widget ul li:first-child {
  margin-left: 0;
}
.ct-ignition {
  display: none;
}
.ct-tool-group .ct-tool.ct-tool--image,
.ct-tool-group .ct-tool.ct-tool--video,
.ct-tool-group .ct-tool.ct-tool--remove,
.ct-tool-group .ct-tool.ct-tool--preformatted {
  display: none !important;
}
.ct-widget.ct-inspector.ct-widget--active {
  display: none !important;
}
.blog--modal-add {
  background: #FFFFFF;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 99;
  padding: 20px 30px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.31);
  border-radius: 5px;
}
.blog--modal-add iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.add-cover-blog {
  background: #ed145b;
  line-height: 40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  position: relative;
  top: -6px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.add-cover-blog:hover {
  background: #fff;
  color: #ed145b;
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  .add-cover-blog {
    background: #ed145b;
    line-height: 17px;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    width: 17px;
    text-align: center;
    position: relative;
    top: -6px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .add-cover-blog:hover {
    background: #fff;
    color: #ed145b;
  }
}
.owl-stage-outer {
  margin: 0 20px;
}
[data-paragraph] {
  border: 1px #ffffff dotted;
  transition: all .3s;
  cursor: pointer;
}
[data-paragraph]:hover,
[data-paragraph]:focus {
  border: 1px #42EBD5 dotted;
  background: rgba(10,187,135,0.05);
  margin: 0 2px;
}
[data-paragraph].edit-enabled {
  cursor: initial !important;
}
video {
  width: 100% !important;
  height: auto !important;
}
#search_modal {
  background: rgba(0,0,0,0.89);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}
#search_modal .search_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1160px;
  transform: translate(-50%,-50%);
}
#search_modal .search_container .search_input {
  padding-top: 5vh;
  height: 10vh;
  border-bottom: 3px rgba(255,255,255,0.05) solid;
}
#search_modal .search_container .search_input input[type="search"] {
  color: #FFFFFF;
  width: 100%;
  font-size: 1.5em;
  background: transparent;
  border: none;
  line-height: 80px;
}
#search_modal .search_container .results {
  height: 85vh;
  max-height: 85vh;
  margin: 20px 0;
  overflow: auto;
  -ms-overflow-style: none;
  position: relative;
}
#search_modal .search_container .results:after {
  content: "";
  width: 100%;
  height: 50px;
  background: red;
  position: sticky;
  top: 0;
  left: 0;
}
#search_modal .search_container .results::-webkit-scrollbar {
  display: none;
}
#search_modal .search_container .results a {
  color: #000;
  text-decoration: none;
}
#search_modal .search_container .results .result {
  background: #FFFFFF;
  padding: 30px 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  transition: all .4s;
}
#search_modal .search_container .results .result.h:hover {
  background: #ed145b;
  color: #FFFFFF !important;
}
#search_modal .search_container .results .result.h:hover .background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(90deg,#ed145b 80%,rgba(255,255,255,0) 95%);
  z-index: 5;
}
#search_modal .search_container .results .result .background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#search_modal .search_container .results .result .background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(90deg,#ffffff 80%,rgba(255,255,255,0) 95%);
  z-index: 5;
}
#search_modal .search_container .results .result .background img {
  height: 150%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
#search_modal .search_container .results .result .post-category {
  margin-top: 10px;
  position: relative;
  z-index: 10;
}
#search_modal .search_container .results .result .post-category .stamp {
  color: #FFF !important;
}
#search_modal .search_container .results .result .author {
  font-style: italic;
  color: rgba(0,0,0,0.6);
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  #search_modal .search_container .results .result .author {
    display: block;
    line-height: 20px;
    margin: 10px 0 0 0;
  }
}
#search_modal .search_container .results .result .post-title {
  position: sticky;
  z-index: 9;
  width: 100%;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
}
#search_modal .search_container .results .result .post-title .big-text {
  font-size: 30px;
  line-height: 50px;
}
#search_modal .search_container .results .result .post-title .text.center {
  text-align: center;
}
#search_modal .search_container .results .result .post-title i {
  display: block;
  text-align: center;
  font-size: 52px;
  margin-bottom: 10px;
}
.close_smdl {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.close_smdl i {
  font-size: 32px;
  color: #FFFFFF;
}
.page-ctn {
  padding-top: 35px;
}
.price-box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
.from_price {
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  position: relative;
}
.from_price:before {
  content: '';
  display: block;
  width: 60%;
  height: 5px;
  background: #ed145b;
  position: absolute;
  top: calc(40%);
  left: 50%;
  -webkit-transform: rotate(-3deg) translate(-50%,-50%);
  transform: rotate(-5deg) translate(-50%,-50%);
}
.to_price {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #ed145b;
}
@media (max-width: 960px) {
  .from_price {
    font-size: 30px;
  }
  .from_price:before {
    width: 90%;
  }
  .accordion a {
    width: auto;
  }
  .countdown {
    padding: 20px 0;
  }
  .to_price {
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
    color: #ed145b;
  }
}
.countdown {
  background: #ed145b;
  background: linear-gradient(270deg,#ed145b,#b71349);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  padding: 60px 0;
}
